<!DOCTYPE html>
  <html>
    <head>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	   <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet">
       <link href="/css/style.css" type="text/css" rel="stylesheet">
       
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
        <div class="container">
            <div class="row">
                 
                <div class="col s9 m9 l9 menu indigo lighten-5">
                    <h1>Test task</h1>
                    <a class="waves-effect waves-light btn blue accent-1 start">Start</a>
                    <a class="waves-effect waves-light btn blue accent-1 new">New game</a>
                    <a class="waves-effect waves-light btn blue accent-1 pause">Pause</a>
                    <a class="waves-effect waves-light btn blue accent-1 pause">Pause</a>
                    <h3 id="total_score"> </h3>
                    <h3 id="timer"></h3>
                    <h6 id="points">Points</h6>
                    <h6 id="timeleft">Time left</h6>
                    <h5 style="position: absolute; right: 20px;">Login: <%= login %></h5>
                    <h5 style="position: absolute; right: 20px; top: 40px;">Max Score: <%= maxscore %></h5>
                    <form style="position: absolute; right: 20px; top: 100px;" action="/logout/logout" method="get">
                        <input class="btn waves-effect waves-light" type="submit" value="Logout">
                    </form>
                    

                </div>
                
                <div class="col s9 m9 l9 game red lighten-4" >
                    <div class="col s12 m12 l12 field light-blue lighten-5" id="field"> </div>
                    
                </div>


                <div class="col s3 m3 l3 result">
                </div>
                <div class="user_data">
                    
                </div>
                
            </div>
            
        </div>
    
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/script.js" ></script>
    </body>
  </html>
        